@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  height: 100vh;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-repeat.jpg);
  background-position: center;
  background-size: contain;
  padding: 12px 50px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.cabecalho {
  width: 40%;
  color: #fff;
}

.cabecalho .titulo {
  font-size: 40px;
  font-weight: 900;
}

.cabecalho .sub-titulo {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 11px;
}

.cabecalho .descricao {
  width: 80%;
  font-size: 17px;
  font-weight: 400;
}

.formulario {
  width: 340px;
  padding: 20px;
  background-color: #fff;
}

.formulario .form-control {
  margin-bottom: 15px;
}

.formulario input {
  width: 100%;
  height: 35px;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #555;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
}

.formulario #mensagem {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  resize: none;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  color: #a8a8a8;
}

.formulario .instrucao {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.formulario #enviar {
  border: none;
  background-color: #3ccc87;
  color: #fff;
  cursor: pointer;
}

/* ALERTA DE ERRO  */
.form-control small {
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #f52e2e;
}

.form-control.success small {
  visibility: hidden;
}

.form-control .erro-preenchimento {
  border: 1px solid #f52e2e;
}

/* ALERTA ACERTO */

.form-control .sucesso-preenchimento {
  border: 1px solid #00c22b;
}
